flask>=3.0.0
flask_login
flask_sqlalchemy
Flask-Migrate
flask_wtf
flask-limiter
flask-caching
Authlib
redis
werkzeug
reportlab
requests
gunicorn
flasgger  
openai
anthropic
packaging
defusedxml
PyMySQL>=1.0.2
psycopg[binary]>=3.2