{% extends "errors/error_base.html" %}

{% set error_code        = "500" %}
{% set error_title       = "Interner\nServerfehler" %}
{% set error_description = "Etwas ist schiefgelaufen. Unser Team wurde benachrichtigt und arbeitet an einer Lösung. Bitte versuche es in wenigen Minuten erneut." %}
{% set badge_class       = "badge-red" %}
{% set info_label        = "Was jetzt?" %}
{% set info_text         = "Seite neu laden, Cache leeren oder etwas später zurückprobieren." %}
{% set is_danger         = true %}
{% set status_dot_class  = "dot-red" %}
{% set status_text       = "Systemfehler erkannt" %}

{% block actions %}
  <a href="javascript:location.reload()" class="btn btn-primary">Seite neu laden</a>
  <a href="/" class="btn btn-secondary">Zur Startseite</a>
{% endblock %}
